* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul, li {
    list-style: none;
}

.container {
    width: 750px;

    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
