* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #282828;
}
ul, li {
    list-style: none;
}

.container {
    width: 750px;

    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    color: olivedrab;
    border-bottom: 1px olivedrab solid;
}
.parent {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.path {
    flex: 1 1 auto;
    color: chocolate;
    cursor: text;
    padding: 0 4px;
    background: none;
    border: none;
}
.path:focus {
    background-color: antiquewhite;
    color: red;
}
.enter {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 20px;
}
