<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=yes">

    <title>Decouple Toolkit</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <script src="/js/base.js"></script>
    <link rel="stylesheet" href="/css/directory.css" type="text/css" />
    <script src="/js/directory.js"></script>
</head>
<body>
<div class="container">
    <div class="top">
        <img src="/images/parent.svg" title="上级目录" class="parent" onclick="parentPath()" />
        <span>目录：</span>
        <input type="text" class="path" onkeydown="inputPath(event)" onchange="applyPath()" />
        <img src="/images/enter.svg" class="enter" onclick="applyPath()"/>
    </div>
    <ul class="directory">
        <li class="file"
            th:each="fileObject:${listFiles}"
            th:attr="filename=${fileObject.filename}, filetype=${fileObject.type}, fileext=${fileObject.ext}"
            onmouseover="showExtend(this)"
            onmouseout="hideExtend(this)">
            <div class="base" onclick="entryFile(this)">
                <img th:src="${fileSupport[fileObject.ext]==null?'/images/file.svg':fileSupport[fileObject.ext].icon}" class="icon" th:if="${fileObject.type}" />
                <img src="/images/directory.svg" class="icon" th:unless="${fileObject.type}" />
                <input class="name" disabled th:value="${fileSupport[fileObject.ext]==null?fileObject.filename:fileObject.name}" onblur="disableInput(this)" onchange="renameFile(this)" />
            </div>
            <div class="extend">
                <img src="/images/delete.svg" title="删除" class="icon" onclick="removeFile(this);" />
                <img src="/images/rename.svg" title="重命名" class="icon" onclick="enableInput(this);" />
            </div>
        </li>
    </ul>
</div>
<script th:inline="javascript">
var httpManager=[[${httpManager}]];
var httpApi=[[${httpApi}]];
var fileSupport=[[${fileSupport}]];
</script>
</body>
</html>