<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=yes">

    <title>Decouple Toolkit</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <script src="/js/base.js"></script>
    <link rel="stylesheet" href="/css/directory.css" type="text/css" />
    <script src="/js/directory.js"></script>
</head>
<body>
<div class="container">
    <div class="top">
        <img src="/images/parent.svg" class="parent" onclick="parentPath()" />
        <span>目录：</span>
        <input type="text" class="path" onkeydown="inputPath(event)" onchange="applyPath()" />
        <img src="/images/enter.svg" class="enter" onclick="applyPath()"/>
    </div>
    <ul class="directory">
        <!--
        <li class="file" onclick="prev()">
            <img src="/images/directory.svg" class="icon">
            <span class="name">..</span>
        </li>
        -->
        <li class="file"
            th:each="fileObject:${listFiles}"
            th:attr="filename=${fileObject.name}, filetype=${fileObject.type}"
            onmouseover="showExtend(this)"
            onmouseout="hideExtend(this)">
            <div class="base" onclick="entryFile(this)">
                <img src="/images/file.svg" class="icon" th:if="${fileObject.type}" />
                <img src="/images/directory.svg" class="icon" th:if="!${fileObject.type}" />
                <span class="name" th:text="${fileObject.name}"></span>
            </div>
            <div class="extend">
                <img src="/images/delete.svg" class="icon" onclick="removeFile(this);" />
            </div>
        </li>
    </ul>
</div>
</body>
</html>