<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=yes">

    <title>Decouple Toolkit</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <script src="/js/base.js"></script>
    <link rel="stylesheet" href="/css/entryRoom.css" type="text/css" />
    <script src="/js/entryRoom.js"></script>
    <link rel="stylesheet" href="/css/jsonkit.css" type="text/css" />
    <script src="/js/jsonkit.js"></script>
    <script src="/js/eq.js"></script>
</head>
<body>
<div class="container">
    <div class="top">
        <img src="/images/parent.svg" class="parent" onclick="parentPath()" />
        <span>目录：</span>
        <input type="text" class="path" onkeydown="inputPath(event)" onchange="applyPath()" />
        <img src="/images/enter.svg" class="enter" onclick="applyPath()"/>
    </div>
    <div class="bar">
        <div>API <a id="goto" target="_blank" href=""></a></div>
        <img src="/images/menu.svg" class="menu" />
    </div>
    <ul class="list">
    </ul>
    <div class="footerbar">
        <div class="toolbar">
            <div class="row">
                <spann>消息模板：</spann>
                <select id="template" onchange="loadTemplate(this)">
                    <option value="">请选择</option>
                </select>
                <span id="status" class="disconnected">已断开</span>
            </div>
            <span id="error"></span>
        </div>
        <pre id="data" class="data"
             contenteditable="true"
             placeholder="请输入发送内容"></pre>
        <div class="submit">发送</div>
    </div>
</div>
<script th:inline="javascript">
var httpManager=[[${httpManager}]];
var httpApi=[[${httpApi}]];
var fileSupport=[[${fileSupport}]];
</script>
<script th:inline="javascript">
initData([[${data}]]);
var name=[[${name}]];
var usecase=[[${usecase}]];
</script>
</body>
</html>