<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=yes">

    <title>Decouple Toolkit</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <script src="/js/base.js"></script>
    <link rel="stylesheet" href="/css/files.css" type="text/css" />
    <script src="/js/files.js"></script>
    <link rel="stylesheet" href="/css/jsonkit.css" type="text/css" />
    <script src="/js/jsonkit.js"></script>
</head>
<body>
<div class="container">
    <div class="top">
        <span>目录：</span>
        <span class="path" onclick="prev()"></span>
    </div>
    <div class="bar">&nbsp;
        <div>API <a id="goto" target="_blank" href=""></a></div>
    </div>
    <div class="fileManager">
        <input class="file" type="file" />
    </div>
    <div class="form">
        <p class="message">
            <span class="status">状态：<span id="status">新建</span></span>
            <span id="error"></span>
        </p>
        <pre id="data" class="data Canvas" name="data"
             contenteditable="true"
             placeholder="填写或选择文件json内容提交，用以保存">
        </pre>
        <input class="submit" type="button" value="提交" />
    </div>
</div>
<script th:inline="javascript">
    loadData([[${data}]]);
</script>
</body>
</html>