<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=yes">

    <title>Decouple Toolkit</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <script src="/js/base.js"></script>
    <link rel="stylesheet" href="/css/wsRoom.css" type="text/css" />
    <script src="/js/wsRoom.js"></script>
    <link rel="stylesheet" href="/css/jsonkit.css" type="text/css" />
    <script src="/js/jsonkit.js"></script>
    <script src="/js/eq.js"></script>
</head>
<body>
<div class="container">
    <div class="top">
        <img src="/images/parent.svg" class="parent" onclick="parentPath()" />
        <span>目录：</span>
        <input type="text" class="path" onkeydown="inputPath(event)" onchange="applyPath()" />
        <img src="/images/enter.svg" class="enter" onclick="applyPath()"/>
    </div>
    <div class="bar">&nbsp;
        <div>API <a id="goto" target="_blank" href=""></a></div>
    </div>
    <ul class="list">
        <li class="item"
            th:each="entry : ${usecaseMap}"
            th:attr="usecase=${entry.key}"
            onclick="checkedItem(this)">
            <p class="name" th:text="${entry.key}"></p>
            <a href="javascript:void(0);" onclick="entryRoom(this)">进入房间</a>
        </li>
    </ul>
    <div class="footerbar">
        <p>
            <span>昵称：</span><input id="name" type="text" placeholder="请输入昵称" value="" />
            <span>房间名：</span><input id="usecase" type="text" placeholder="请输入房间名" value="" />
        </p>
        <div class="submit">创建聊天</div>
    </div>
</div>
<script th:inline="javascript">
var httpManager=[[${httpManager}]];
var httpApi=[[${httpApi}]];
var fileSupport=[[${fileSupport}]];
</script>
<script th:inline="javascript">
initData([[${data}]]);
</script>
</body>
</html>